body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0%;
   
}

body main{
    overflow: hidden;
}

header button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}



body .parte1 {
    display: grid;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 104, 20);
    height: 60px;
    overflow: hidden;
}

header img {
    height: 60px;
}

body .parte2 {
    display: flex;
    align-items: center;
    background-color: rgb(49, 47, 47);
    height: 60px;
    overflow: hidden;
}

header .pesquisa {
    width: 100vw;
    display: grid;
    grid-template-columns: 10vw 10vw 38vw 12vw 8vw 8vw;
    gap: 3vw;
    justify-content: space-around;
    align-items: center;
}

header .barra {
    height: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: 90% 8%;
    justify-content: space-around;
    align-items: center;

}

input {
    margin: none;
    border: none;
    outline: none;
}

.suporte {
    width: 100vw;


}



.parte3 {
    background-color: rgb(32, 30, 30);
    overflow: hidden;

}

.conta {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .texto {
    display: grid;
    justify-content: space-around;
    text-align: center;
    grid-template-columns: 5vw 5vw 5vw 5vw 5vw;
    height: 110px;
}

p{
    margin-top: 10px;
}

@media(max-width: 1048px) {
    .img1 {
        width: 140vw;
    }
}

@media(max-width: 1048px) {
    .senai {
        width: 10vw;
    }
}

@media(max-width: 1148px) {
    .barra {
        width: 40vw;
    }
}

@media(max-width: 1048px) {
    .pesquisa {
        width: 100vw;
        display: grid;
        grid-template-columns: 10vw 10vw 38vw 12vw 8vw 8vw;
        gap: 3vw;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 1307px) {
    .texto {
        font-size: 10px;
    }
}


